<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="img/test.jpg" >
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>

        <div class="main-content">
            {{>header}}

            <p>Image Description: {{img_description}}</p>
            <img class="profile-pic" src="/img/profile-pic2.png">
        
        </div>

        {{>footer}}

    </body>

</html>